# ##############################################################################
# log2csv main configuration file.
#
# The file has to contain the modules to load as well as every channel to fetch.
# Each channel denotes a target variable logged within the CSV file. Each media 
# access control module (MAC) is responsible for driving a certain kind of 
# message interface.
#
# Author: Michael Spiegel, michael.h.spiegel@gmail.com 
# ##############################################################################

# The filename to append the data. The programm will create the file and append
# a headline if the file doesn't exist.
outFile="data.csv";

# (optional) The format of the first CSV column holding the current time. It has
# to be a string following the strftime conventions (see $man 3 strftime) 
timeFormat="%d.%m.%Y %H:%M:%S";
# The title of the first column storing the current time
timeHeader="Time stamp";

# The fieldbus mac layer modules to load. Each module directive contains the 
# parameters needed. The mandatory name directive corresponds to the module's 
# typee. 
mac=(
	{
		name="lib/log2csv/logging-fieldbus.so";
		# The tty interface to use
		interface="/dev/ttyO4";
	},
	{
		name="lib/log2csv/dlogg.so";
		# The virtual tty interface to use
		interface="/dev/ttyUSB0";
	}
	
);

# The channels to log
# Each channel corresponds to a column within the CSV file. 
channel=(
	{
		# The mandatory name of the driver module
		type="lib/log2csv/logging-fieldbus-temperature.so";
		# The mandatory title of the channel used to label the CSV column 
		title="T Network cubicle";
		# The address of the device to rerad
		address={
			device_id=1;
			channel_id=0;
		};
	},

  # ############################################################################
  # Control Input Values 
  # ############################################################################

  {
		# The mandatory name of the driver module
		type="lib/log2csv/dlog-stdval.so";
  	# The mandatory title of the channel used to label the CSV column 
		title="Kollektortemperatur S1";
		# The address of the device to rerad
		address={
			# The identifier of d-logg's input channel [1,2]  
			controller=1;
			# Optional ID specifying a line multiplexing channel 
			line_id=0;
			# Channel prefix specifying the channel
			#  S -> input
			#  E -> external input
			#  A -> digital output 
			#  A.D -> analog output drive
			#  A.A -> analog output voltage
			#  WMZ.P -> heat meter, current power
			#  WMZ.E -> heat meter, energy registered
			channel_prefix="S";
			# The channel number 
			channel_number=1;
		};
  },
  {
		type="lib/log2csv/dlog-stdval.so";
		title="Pufferspeicher-unten S2";
		address={
			controller=1;
			channel_prefix="S";
			channel_number=2;
		};
  },
  {
		type="lib/log2csv/dlog-stdval.so";
		title="Solar-Vorlauf S3";
		address={
			controller=1;
			channel_prefix="S";
			channel_number=3;
		};
  },
  {
		type="lib/log2csv/dlog-stdval.so";
		title="Pufferspeicher-oben S4";
		address={
			controller=1;
			channel_prefix="S";
			channel_number=4;
		};
  },
  {
		type="lib/log2csv/dlog-stdval.so";
		title="Nahwärme-Vorlauf F1";
		address={
			controller=2;
			channel_prefix="S";
			channel_number=1;
		};
  },
  {
		type="lib/log2csv/dlog-stdval.so";
		title="Pufferspeicher-O.27-unten F2";
		address={
			controller=2;
			channel_prefix="S";
			channel_number=2;
		};
  },
  {
		type="lib/log2csv/dlog-stdval.so";
		title="Pufferspeicher-mitte F3";
		address={
			controller=2;
			channel_prefix="S";
			channel_number=3;
		};
  },
  {
		type="lib/log2csv/dlog-stdval.so";
		title="Nahwärme-Vorlauf O.27 F4";
		address={
			controller=2;
			channel_prefix="S";
			channel_number=4;
		};
  },
  
  # ############################################################################
  # Control Output Values 
  # ############################################################################
  
  {
		type="lib/log2csv/dlog-stdval.so";
		title="Solarpumpe SA1";
		address={
			controller=1;
			channel_prefix="A";
			channel_number=1;
		};
  },
  {
		type="lib/log2csv/dlog-stdval.so";
		title="Solarpumpe DZ SA1";
		address={
			controller=1;
			channel_prefix="A.D";
			channel_number=1;
		};
  },
  {
		type="lib/log2csv/dlog-stdval.so";
		title="Schichtladung-oben SA2";
		address={
			controller=1;
			channel_prefix="A";
			channel_number=2;
		};
  },
  {
		type="lib/log2csv/dlog-stdval.so";
		title="Pumpe-Nahwärme O.27 FA1";
		address={
			controller=2;
			channel_prefix="A";
			channel_number=1;
		};
  },
  {
		type="lib/log2csv/dlog-stdval.so";
		title="Pumpe-Nahwärme O.27 DZ FA1";
		address={
			controller=2;
			channel_prefix="A.D";
			channel_number=1;
		};
  },
  {
		type="lib/log2csv/dlog-stdval.so";
		title="Pumpe-Nahwärme O.25 FA2";
		address={
			controller=2;
			channel_prefix="A";
			channel_number=2;
		};
  },
  {
		type="lib/log2csv/dlog-stdval.so";
		title="Pumpe-Nahwärme O.27 (redundant) FA3";
		address={
			controller=2;
			channel_prefix="A";
			channel_number=3;
		};
  },
  
  # ############################################################################
  # Heat Meter
  # ############################################################################
  
  {
		type="lib/log2csv/dlog-stdval.so";
		title="Leistung Solaranlage";
		address={
			controller=1;
			channel_prefix="WMZ.P";
			channel_number=1;
		};
  },
  {
		type="lib/log2csv/dlog-stdval.so";
		title="Wärmemenge Solaranlage";
		address={
			controller=1;
			channel_prefix="WMZ.E";
			channel_number=1;
		};
  },
  {
		type="lib/log2csv/dlog-stdval.so";
		title="Leistung Nahwärme";
		address={
			controller=2;
			channel_prefix="WMZ.P";
			channel_number=1;
		};
  },
  {
		type="lib/log2csv/dlog-stdval.so";
		title="Wärmemenge Nahwärme";
		address={
			controller=2;
			channel_prefix="WMZ.E";
			channel_number=1;
		};
  }
);
